/***********************************
** GENERICS
************************************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Prata', serif;
}

/***********************************
** PARTICULAR CASES
************************************/


h1, h3 {
    margin: 0;
}

h1, h2 {
    font-family: 'Prata', serif;
}

h2 {
    font-size: 2rem;
}

.btn {
    background-color: rgb(0, 29, 46);
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    hyphens: manual;
    letter-spacing: 3px;
    line-height: 57px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: uppercase;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    border: none;
}

@media (min-width: 640px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1536px) {
    .container {
        width: 1100px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#cover {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/cover.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cover h1 {
    position: relative;
    color: white;
    font-size: 2rem;
    line-height: 29px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 25px;
    margin-top: 10vh;
}

#cover .btn-header {
    position: relative;
    margin-top: 3rem;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-name: fadein;
    animation-delay: 0.2s;
}

.lead {
    position: relative;
    font-size: 45px;
    color: #FFFFFF;
    line-height: 1.46em;
    text-align: center;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-name: fadein;
}

#lead-1 {
    margin-top: 8rem;
}

#lead-2 {
    animation-delay: 0.1s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

a.btn-header {
    color: white;
    text-decoration: none;
    padding: 18px 30px 18px 30px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgb(180, 157, 123);
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    border: 2px solid white;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

a.btn-header:hover {
    background-color: white;
    color: black;
}

#down {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #334155;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#down svg {
    width: 25px;
    animation-duration: 0.5s;
    animation-name: sails;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sails {
    from {
        margin-top: 2px;
    }

    to {
        margin-top: 12px;
    }
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
}

#features h2 {
    margin: 0;
}

#features .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Plus Jakarta Sans";
}

.feature-item p {
    margin-top: 30px;
}

.feature-item img {
    position: relative;
    display: block;
    width: 50px;
    top:0;
    transition-property: top;
    transition-duration: 0.3s;
}

.feature-item:hover img {
    top: -15px;
}

#rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    background-color: #F3F3F3;
}

#rooms h2 {
    margin-top: 0;
    margin-bottom: 70px;
}

#rooms .container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

#rooms .container:first-of-type {
    margin-top: 0;
}

.room-img {
    width: 50%;
}

.room-description {
    width: 50%;
    padding: 4% 6% 4% 6%;
    background-color: white;
}

.room-description h2 {
    margin-bottom: 25px;
    font-size: 48px;
}

.room-description .hr {
    width: 20%;
    border-top: 1px solid rgb(85, 88, 90);
    margin-bottom: 20px;
}

.room-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 27px;
}

.room-description-text {
    margin-bottom: 50px;
    color: #7D8184;
    font-size: 16px;
    line-height: 1.78em;
    font-family: "Plus Jakarta Sans";
    font-weight: 200;
}

.book-btn {
    background-color: rgb(0, 29, 46);
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    hyphens: manual;
    letter-spacing: 3px;
    line-height: 57px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: uppercase;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    cursor: pointer;
}

.book-btn:hover {
    background-color: #00273d;
}

.room-features {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.room-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Plus Jakarta Sans";
    font-weight: 200;
    color: #7D8184;
    margin-right: 40px;
}

.room-feature img {
    width: 40px;
    margin-right: 20px;
}

.splide {
    height: 100%;
}

.splide__track {
    height: 100%;
}

.splide__list {
    height: 100%;
}

.splide__slide div {
    display: block;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}

#gallery h2 {
    margin-top: 0;
    margin-bottom: 70px;
}

#gallery-photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 70px;
}

.gallery-item {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

.gallery-item-image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery-talk {
    position: relative;
}

#host-talk {
    width: 70%;
    background-color: #F3F3F3;
    padding: 70px 160px 70px 70px;
    font-family: "Plus Jakarta Sans";
    line-height: 1.5rem;
    font-weight: 200;
}

#mark {
    text-align: right;
    padding-right: 50px;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    margin-bottom: 0;
}

#host-photo {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#host-photo div {
    width: 100%;
    height: 500px;
    background-image: url('assets/images/hote.jpg');
    background-size: cover;
}

#booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    background-color: #F3F3F3;
}

#booking h2 {
    margin-top: 0;
    margin-bottom: 70px;
}

#booking .container {
    display: flex;
    flex-direction: row;
}

.booking-img {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.instructions {
    padding-right: 50px;
}

.booking-img h3 {
    margin-top: 50px;
}

.booking-img h3:first-of-type {
    margin-top: 0;
}

.booking-form {
    background-color: white;
    padding: 4% 6% 4% 6%;
    width: 60%;
}

.booking-form .btn {
    margin-top: 20px;
}

.booking-form .btn:hover {
    cursor: pointer;
}

.booking-form:focus {
    outline-color: rgb(0, 29, 46);
}

.form-row {
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.form-row-2 {
    grid-template-columns: 1fr 1fr;
}

.form-row-1 {
    grid-template-columns: 1fr;
}

.input-label {
    font-size: 10px;
    font-family: "Plus Jakarta Sans";
    text-transform: uppercase;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group input, .input-group textarea {
    display: block;
    width: 100%;
    resize: none;
    margin-top: 5px;
    display: block;
    border: 1px solid rgb(85, 88, 90);
}

.input-group input {
    padding: 20px 5px;
}

.message textarea {
    min-height: 150px;
    padding: 5px;
}

.form-row input:focus, .form-row textarea:focus {
    outline: 1px solid rgb(0, 29, 46);
}

.check-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 12px;
    font-family: "Plus Jakarta Sans";
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
}

.check-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.check-group:hover input ~ .checkmark {
    background-color: #ccc;
}

  /* When the checkbox is checked, add a blue background */
.check-group input:checked ~ .checkmark {
    background-color: rgb(0, 29, 46);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-group input:checked ~ .checkmark:after {
    display: block;
}

.check-group .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.book-instructions {
    font-family: "Plus Jakarta Sans";
    font-weight: 200;
    color: #7D8184;
    font-family: "Plus Jakarta Sans";
}

#map {
    flex: 1;
    margin-top: 50px;
}

#map iframe {
    height: 100%;
    width: 100%;
}

#plus-clair {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 10px;
    font-family: "Plus Jakarta Sans";
    text-transform: uppercase;
}
